              <ul class="inline-block">
                <%# dcv; removed .easy-browse from list items %>
                <li class="button button-about-plan first"><%= link_to "Manage Profile", plug_in_author_manage_profile_path %> </li>
                <li class="button button-manage-account"><%= link_to "Promote Plug-ins", plug_in_author_promote_plug_ins_path %></li>
                <li class="button button-helpful-resources"><%= link_to "Manage Content", plug_in_author_manage_content_products_published_path %></li>
                <li class="button button-enroll"><%= link_to "Reports", plug_in_author_reports_path %></li>
                <li class="button button-special-offers"><%= link_to "Create New Content", plug_in_author_create_new_content_path %></li>
              </ul>

