<% title("Title & Body", true) %>
<h2 style=" "><%= yield(:title) if show_title? %></h2>

<div class="wrapper">

<% 
  #TODO: find a way to include this more conventionally instead of in the view
  self.class.instance_eval do
    include Cms::FormTagHelper
  end
%>

<%= form_for @product, url: product_route(@product), html: {id: "product-title-body"}, :builder => Cms::FormBuilder do |f| %>
  
  <p>Provide details for your article or posting</p>

  <div class="container ">
    
  <div class="span12" style="">
<%= f.cms_text_field :name, label: "Title" %>
<%= f.cms_text_area :sub_title %>


<%= f.cms_richtext_editor :body %>
<%= f.cms_richtext_editor :summary %>
<%#= f.cms_text_area :tile_title %>
<%#= f.cms_text_area :tile_icon %>
  </div>


  </div><!-- /.container -->

<% end %>

<div class="container bottom-nav">
  <div class="span1 pull-left">
    <a href="#" class="btn" >Previous</a>
  </div>
  <!--<div class="span10"></div>-->
  <div class="span1 pull-right">
    <a href="#" class="btn">Next</a>
  </div>
</div>

</div><!-- /.wrapper -->

<script type="text/javascript">
  $(document).ready(function(){
    jQuery(document).trigger("partial-load");
  });
</script>
