<% title("Create Tile", true) %>
<h2 style=" "><%= yield(:title) if show_title? %></h2>

<div class="wrapper">

<%= form_for @product, url: product_route(@product), html: {id: "product-select-layout"} do |f| %>
  <%= f.hidden_field :name %>

<p>Preview tile and add content-designating icon</p>

<div class="tilePreview">
  <%#= image_tag asset_path 'demo/tile-sample.png' %>

  <div class="product-tile">
    <a href="#change-icon" class="change-icon" title="Change Icon">
      <div class="product-icon"></div>
    </a>

    <h3 class="product-title" title="Change Title"></h3>
    <div class="product-content" title="Change Content"></div>
  </div>
  
  <!-- ________MODAL_________ -->
  
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Edit Tile</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      <%= f.cms_richtext_editor :tile_title %>
      <%= f.cms_richtext_editor :summary %>
        
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Yes</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#myModal -->
    
    
</div><!-- /.tilePreview -->

<a href="#"><div class="btn pull-left">Previous</div></a>
<a href="#"><div class="btn pull-right">Save</div></a>
  
  
  <a href="#icon" role="button" data-toggle="modal">
    <div class="btn btn-small">Select Icon</div>
  </a>
  
  <!-- ________ MODAL ___________ -->
  
  <div id="icon" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Select Icon</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      <p>WINDOW FOR BROWSING ICONS</p>
      
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="uploadIcon">Upload Icon:</label>
          <div class="controls">
            <input type="text" id="uploadIcon" style="display: none; ">
            <div class="dropzone" id="my-awesome-dropzone"></div>
          </div>
        </div>
        
        <div class="btn btn-primary" style="display: none; ">Browse</div>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Yes</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#myModal -->
  
<% end %>


</div><!-- /.wrapper -->

<script type="text/javascript">
$(document).ready(function(){
  $(".tilePreview .product-title, .tilePreview .product-content").click(function(e){
    $("#myModal").modal("show");
  });

  var myDropzone = new Dropzone("div#my-awesome-dropzone", { url: "/file/post" });
  //var myDropzone = new Dropzone("div#my-awesome-dropzone", { url: "/file/post", enqueueForUpload: false});
});
</script>
