<style type="text/css">
.layoutTileRow input[type='radio']{
  display: none; 
}

.layoutTileRow > .item {
  border: 1px solid #afafaf;
  height: 365px;
  background-color: #efefef;
}
.layoutTileRow > .item .description {
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.layoutTileRow > .item .description h3 {
  font-size: 20pt;
}

.layoutTileRow .item{
}

.layoutTileRow .item{
  cursor: pointer;
}

.layoutTileRow .item{
  margin-left: 0;
}
.layoutTileRow .item + .item{
  margin-left: 22px;
}
</style>

<% title("Select Layout", true) %>
<h2 style=" "><%= yield(:title) if show_title? %></h2>

<div class="wrapper container">

<%= form_for @product, url: product_route(@product), html: {id: "product-select-layout"} do |f| %>
  <%= f.hidden_field :name %>
  
<p>Select a layout for your main page</p>

<div class="layoutTileRow">
  
          <!-- ________ CAROUSEL ______ -->

              <% default_car_ind_active = ((@product.layout_id.nil?) ? "active" : "") %>
              <% @product_layouts.each do |layout| %>
                <% car_ind_active = ((layout.id == @product.layout_id) ? "active" : default_car_ind_active) %>
               
                <div id="<%= layout.name.downcase.gsub(/ +/, "-") %>" class="item <%= car_ind_active %> span4">
                  <div class="description">
                    <h3><%= layout.name %></h3>
                    <p><%= layout.description %></p>
                    <%= f.radio_button :layout_id, layout.id %>
                  </div>
                </div>

                <% default_car_ind_active = "" %>
              <% end %>
  
    </div><!-- /.layoutTileRow -->

<% end %>

<div class="container bottom-nav">
  <div class="span1 pull-left">
    <a href="#" class="btn" >Previous</a>
  </div>
  <!--<div class="span10"></div>-->
  <div class="span1 pull-right">
    <a href="#" class="btn">Next</a>
  </div>
</div>

</div><!-- /.wrapper -->


<script type="text/javascript">
$(document).ready(function(){
  $(".layoutTileRow .item").click(function(e){
    var radio = $("input[type='radio']", this)
    radio.attr("checked", true)
    $(".layoutTileRow .drawn-circle").remove();
    $(".description h3", this).append('<div class="drawn-circle"></div>')
    return false;
  });

  $(".layoutTileRow input:checked").closest(".item").find("h3").append('<div class="drawn-circle"></div>')
});
</script>
