<% title("Select Section", true) %>
<h2 style=" "><%= yield(:title) if show_title? %></h2>

<div class="wrapper">

<%= form_for :blog_post do %>
<div class="mainSectionArticle pull-left">
  <div>
    <p>Main Section (Article)</p>
    <div class="mainSectionTiles pull-left">
      <p>Select a main section topic for the content product you wish to create.</p>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <%= image_tag asset_path('plan_sponsor/about_plan_button.png'), alt: "About Plan" %>
        </div><!-- /.mainSectionTile -->
      </a>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <%= image_tag asset_path('plan_sponsor/manage_account_button.png'), alt: "Manage Account" %>
        </div><!-- /.mainSectionTile -->
      </a>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <%= image_tag asset_path('plan_sponsor/helpful_resources_button.png'), alt: "Helpful Resources" %>
        </div><!-- /.mainSectionTile -->
      </a>
      
      <a href="#">  
        <div class="mainSectionTile pull-left">
          <%= image_tag asset_path('plan_sponsor/special_offers_button.png'), alt: "Special Offers" %>
        </div><!-- /.mainSectionTile -->
      </a>
      
    </div><!-- /.mainSectionTiles -->
  </div>
</div><!-- /.mainSectionArticle -->



<div class="mainSectionArticle pull-left ">
  <div>
    <p>Enrollment Page</p>
    <div class="mainSectionTiles pull-left Small">
      <p>Create an enrollment page</p>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <%= image_tag asset_path('plan_sponsor/enrollment_page_button.png'), alt: "Enrollment Page" %>
        </div><!-- /.mainSectionTile -->
      </a>
      
    </div><!-- /.mainSectionTiles -->
  </div>
</div><!-- /.mainSectionArticle -->



<div class="mainSectionArticle pull-left ">
  <div>
    <p>Blog Post</p>
    <div class="mainSectionTiles pull-left Small">
      <p>Create a blog post.</p>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <%= image_tag asset_path('plan_sponsor/blog_button.png'), alt: "Blog Post" %>
        </div><!-- /.mainSectionTile -->
      </a>
      
    </div><!-- /.mainSectionTiles -->
  </div>
</div><!-- /.mainSectionArticle -->
<% end %>

</div><!-- /.wrapper -->
