  <dl>
    <dt>Manage Product Content Menu</dt>
      <dd>
        <div class="redSideButton">
          <%= link_to plug_in_author_manage_content_wf_products_published_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Published Products</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plug_in_author_manage_content_wf_products_drafted_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Drafted Products</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>

  <dl>
    <dt>Manage Bundle Content Menu</dt>
      <dd>
        <div class="redSideButton">
          <%= link_to plug_in_author_manage_content_wf_bundles_published_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Published Bundles</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plug_in_author_manage_content_wf_bundles_drafted_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Drafted Bundles</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>

