              <ul class="inline-block">
                <%# dcv; removed .easy-browse from list items %>
                <li class="button button-about-plan first"><%= link_to "Manage Profile", plan_sponsor_manage_profile_path %> </li>
                <li class="button button-manage-account"><%= link_to "Promote Plan Portal", plan_sponsor_promote_plan_portal_path %></li>
                <li class="button button-helpful-resources"><%= link_to "Manage Content", plan_sponsor_manage_content_products_published_path %></li>
                <li class="button button-enroll"><%= link_to "Professional Help", plan_sponsor_professional_help_path %></li>
                <li class="button button-special-offers"><%= link_to "Create New Content", plan_sponsor_create_new_content_path %></li>
              </ul>

