
<!-- _______________________RED SIDE BUTTON MENU_________________ -->

<% content_for :side_menu do %>
  <dl>
    <dt>Promote Plan Portal</dt>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Print Material</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Email Templates</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Banners</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Letters</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Videos</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">On-site My401k Enrollment Support</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>
<% end %>

<div class="wrapper">
<!--__________________________PREPARED PRINT SERVICES__________________ -->


<div class="grayDividerBar">
  <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
  <p class="grayBarText">Suggested email scripts</p>
</div><!-- /.grayDividerBar -->
<br>


<div class="printMaterialDiv">
  <img class="resize1 pull-left" src="<%= asset_path 'buttonBarImgs/content-tile.png' %>" alt="Content Tile Info">
  <div class="marginPPP">
    <h4>Content Tile</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.</p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
    <div class="btn btn-small pull-right">Download</div>
  </div><!-- /.marginPPP -->
</div><!-- /printMaterialDiv -->



<div class="printMaterialDiv">
  <img class="resize1 pull-left" src="<%= asset_path 'buttonBarImgs/content-tile.png' %>" alt="Content Tile Info">
  <div class="marginPPP">
    <h4>Content Tile</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.</p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
    <div class="btn btn-small pull-right">Download</div>
  </div><!-- /.marginPPP -->
</div><!-- /printMaterialDiv -->


<div class="printMaterialDiv">
  <img class="resize1 pull-left" src="<%= asset_path 'buttonBarImgs/content-tile.png' %>" alt="Content Tile Info">
  <div class="marginPPP">
    <h4>Content Tile</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.</p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
    <div class="btn btn-small pull-right">Download</div>
  </div><!-- /.marginPPP -->
</div><!-- /printMaterialDiv -->



<div class="printMaterialDiv">
  <img class="resize1 pull-left" src="<%= asset_path 'buttonBarImgs/content-tile.png' %>" alt="Content Tile Info">
  <div class="marginPPP">
    <h4>Content Tile</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam.</p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
    <div class="btn btn-small pull-right">Download</div>
  </div><!-- /.marginPPP -->
</div><!-- /.printMaterialDiv -->



</div><!-- /.wrapper -->