
<!-- _______________________RED SIDE BUTTON MENU_________________ -->

<% content_for :side_menu do %>
  <dl>
    <dt>Promote Plan Portal</dt>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Print Material</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Email Templates</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Banners</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Letters</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Videos</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">On-site My401k Enrollment Support</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>
<% end %>

<div class="wrapper">
<!--__________________________PREPARED PRINT SERVICES__________________ -->


  <div class="grayDividerBar">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">Get help getting My 401k Made Easy set up</p>
  </div><!-- /.grayDividerBar -->


  <div class="sectionBoxEnrollmentSupport">
    <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
    <p>Message *</p>
    
    <textarea class="input-block-level" rows="6" type="text" placeholder="Enter request for help here..."></textarea>
    
    <div class="btn pull-right">
      Request Help
    </div>
    <span class="clearfix"></span>

  </div><!-- /.sectionBoxEnrollmentSupport -->
</div><!-- /.wrapper -->