  <dl>
    <dt>Manage Content Products Menu</dt>
      <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_move_to_bundle_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Move To Bundle</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_destroy_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Destroy</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_published_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Published</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_drafted_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Drafted</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_product_summary_by_all_types_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Product Summary By All Types</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_product_summary_by_type_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Product Summary By Type</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_product_summary_by_all_categories_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Product Summary By All Categories</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_product_summary_by_category_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Product Summary By Category</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_details_summaries_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Details Summaries</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_details_summary_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Details Summary</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_details_product_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Details Product</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_publish_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Publish</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_clone_draft_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Clone Draft</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_move_to_draft_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Move To Draft</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_edit_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Edit</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_destroy_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Destroy</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_search_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Search</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_filter_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Filter</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plugin_author_manage_content_products_help_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Help</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>

