
<!-- ______________ Product summary by category ______________ -->

<div class="grayDividerBar">
  <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
  <p class="grayBarText">Summary of published plug-in content</p>
  <div class="input-append grayBarSearch">
    <select>
      <option>View by Category</option>
      <option>View by Product Type</option>
    </select>
  </div><!-- /.input-append -->
</div><!-- /.grayDividerBar -->

<!-- ____________contentSection__________ -->

<div class="contentSection">
  <div class="contentSectionButton">
    <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
    <p class="contentSectionText">Main Sections ()</p>
  </div><!-- /.contentSectionButton -->
  <ul>
    <li>About Plan ()</li>
    <li>Manage Account ()</li>
    <li>Helpful Resources ()</li>
    <li>Special Offers ()</li>
  </ul>
</div><!-- /.contentSection -->



<div class="contentSection margin">
  <div class="contentSectionButton">
    <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
    <p class="contentSectionText">Blog Posts ()</p>
  </div><!-- /.contentSectionButton -->
  <ul>
    <li>About Plan ()</li>
  </ul>
</div><!-- /.contentSection -->



<div class="contentSection margin">
  <div class="contentSectionButton">
    <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
    <p class="contentSectionText">Headline Banners ()</p>
  </div><!-- /.contentSectionButton -->
  <ul>
    <li>About Plan ()</li>
    <li>Special Offers ()</li>
  </ul>
</div><!-- /.contentSection -->



<div class="contentSection margin">
  <div class="contentSectionButton">
    <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
    <p class="contentSectionText">Blog ()</p>
  </div><!-- /.contentSectionButton -->
  <ul>
    <li>Main Sections ()</li>
    <li>Blog Posts ()</li>
    <li>Headline Banners</li>
  </ul>
</div><!-- /.contentSection -->



<div class="contentSection margin">
  <div class="contentSectionButton">
    <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
    <p class="contentSectionText">Special Offers ()</p>
  </div><!-- /.contentSectionButton -->
  <ul>
    <li>Main Sections ()</li>
    <li>Blog Posts ()</li>
    <li>Headline Banners</li>
  </ul>
</div><!-- /.contentSection -->