<% title("Alert Preferences", true) %>

<% content_for :side_menu do %>
  <dl>
    <dt>Manage Profile Menu</dt>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Basic Information</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Admin Delegates</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Portal Branding</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Part. Access Control</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Subscription Status</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Sponsor Contacts</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Alert Preferences</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>
<% end %>

<div class="wrapper">
  
  <div class="grayDividerBar">
    <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">How may My401k contact you?</p>
  </div><!-- /.grayDividerBar -->
  <br>
  
  <div class="sectionBox">
    
    <label class="checkbox">
      <input type="checkbox">It's ok for My401kMadeEasy to contact me with information I may find useful.
    </label>
    <label class="checkbox">
      <input type="checkbox">Please alert me when my subscribed authors create new content
    </label>
    <label class="checkbox">
      <input type="checkbox">Please send me email digests
    </label>
    <label class="checkbox">
      <input type="checkbox">Please email me daily/weekly/monthly (dropdown) with new registered user alerts
    </label>
    <label class="checkbox">
      <input type="checkbox">Disable Facebook link to my401kmade easy page
    </label>
    
    <div class="btn">Save</div>
    
  </div><!-- /.sectionBox -->
  
</div><!-- /.wrapper -->
