<% title("Portal Branding", true) %>

<% content_for :side_menu do %>
  <dl>
    <dt>Manage Profile Menu</dt>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Basic Information</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Admin Delegates</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Portal Branding</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Part. Access Control</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Subscription Status</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Sponsor Contacts</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Alert Preferences</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>
<% end %>

<div class="wrapper">
  
  <!-- _____________LOGO______________ -->
  
  
    <div class="grayDividerBar">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p class="grayBarText">Plan Information</p>
    </div><!-- /.grayDividerBar -->
    <br>
    <img src="<%= asset_path 'demo/content-image.png' %>" >
    <div class="boxedText pull-right">
      <p>This logo will be featured on the official plan portal seen by your participants. View example <a href="#">here</a>.</p>
      <p>Click on the logo or the 'Change Logo' button to make a change.</p>
    </div><!-- /.boxedText -->
    <div class="btn pull-right"><a href="#">Change Logo</a></div>
  
  
  <!-- ______________COLOR PALETTE_______________ -->
  
    
    <div class="grayDividerBar">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p class="grayBarText">Color Palette</p>
    </div><!-- /.grayDividerBar -->
    <br>
    <select multiple="multiple">
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    </select>
    <div class="boxedText pull-right">
      <p>This two-toned color palete will be used throughout the official plan portal seen by your participants. See example <a href="#">here</a>.</p>
      <p>To choose a different scheme, select an option and press the 'Select Color' button.</p>
    </div><!-- /.boxedText -->
    
    <div class="btn pull-right"><a href="#">Select Color</a></div>
    
    
  <!-- __________________SPONSOR LOGO_______________ -->
  
    <div class="grayDividerBar">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p class="grayBarText">Sponsor Logo</p>
    </div><!-- /.grayDividerBar -->
    <br>
    <img src="<%= asset_path 'demo/content-image.png' %>">
    <div class="boxedText pull-right">
      <p>If someone has sponsored your My401k membership, you may upload the sponsor's logo here.</p>
      <p>This logo will be featured on the official plan portal seen by your participants. View example <a href="#">here</a>.</p>
      <p>Click on the logo or the 'Change Logo' button to make a change.</p>
    </div><!-- /.boxedText -->
    <div class="btn pull-right"><a href="#">Change Logo</a></div>
  
  
</div><!-- /.wrapper -->
