<% title("Portal Branding", true) %>

<% content_for :side_menu do %>
<% end %>

<div class="wrapper">
  
  <!-- _____________LOGO______________ -->
  
  <div>
    <div class="grayDividerBar">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <h3 class="grayBarText noMargin">Plan Information</h3>
    </div><!-- /.grayDividerBar -->
    <br>
    <img src="<%= asset_path 'demo/content-image.png' %>" >
    <div class="boxedText pull-right">
      <p>This logo will be featured on the official plan portal seen by your participants. View example <a href="#">here</a>.</p>
      <p>Click on the logo or the 'Change Logo' button to make a change.</p>
    </div><!-- /.boxedText -->
    <a href="#" class="btn pull-right">Change Logo</a>
    <span class="clearfix"></span>
  </div>
  
  <!-- ______________COLOR PALETTE_______________ -->
  
  <div>
    <div class="grayDividerBar grayBarTopMargin">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p class="grayBarText">Color Palette</p>
    </div><!-- /.grayDividerBar -->
    <br>
    <select multiple="multiple">
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    </select>
    <div class="boxedText pull-right">
      <p>This two-toned color palete will be used throughout the official plan portal seen by your participants. See example <a href="#">here</a>.</p>
      <p>To choose a different scheme, select an option and press the 'Select Color' button.</p>
    </div><!-- /.boxedText -->
    
    <a href="#" class="btn pull-right">Select Color</a>
    <span class="clearfix"></span>
  </div>
    
  <!-- __________________SPONSOR LOGO_______________ -->
  <div>
    <div class="grayDividerBar grayBarTopMargin">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p class="grayBarText">Sponsor Logo</p>
    </div><!-- /.grayDividerBar -->
    <br>
    <img src="<%= asset_path 'demo/content-image.png' %>">
    <div class="boxedText pull-right">
      <p>If someone has sponsored your My401k membership, you may upload the sponsor's logo here.</p>
      <p>This logo will be featured on the official plan portal seen by your participants. View example <a href="#">here</a>.</p>
      <p>Click on the logo or the 'Change Logo' button to make a change.</p>
    </div><!-- /.boxedText -->
    <a href="#" class="btn pull-right">Change Logo</a>
    <span class="clearfix"></span>
  </div>
  
</div><!-- /.wrapper -->
