<% title("Manage Sponsor Contacts", true) %>

<% content_for :side_menu do %>
  <dl>
    <dt>Manage Profile Menu</dt>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Basic Information</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Admin Delegates</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Portal Branding</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Part. Access Control</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Subscription Status</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Sponsor Contacts</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Alert Preferences</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>
<% end %>

<div class="wrapper">
  
  <div class="grayDividerBar">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">Manage sponsor contacts</p>
  </div><!-- /.grayDividerBar -->
  <br>
  
  <div class="sectionBox">
    
  <div class="btn btn-small pull-right">
    <img src="#">
    <span id="addDelegate">Add new sponsor contact</span>
    <a href="#"><img src="<%= asset_path 'beta/plus.png' %>"></a>
  </div>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>-</th>
          <th>Public</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
      </tbody>
    </table>
    
  </div><!-- /.sectionBox -->
  
</div><!-- /.wrapper -->
