<!-- IS THIS NEEDED?<h1>My401k::ManageProfile#basic_information</h1>-->

<% title("Basic Information", true) %>

<% content_for :side_menu do %>
  <dl>
    <dt>Manage Profile Menu</dt>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Basic Information</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Admin Delegates</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Portal Branding</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Part. Access Control</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Subscription Status</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Sponsor Contacts</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
      <dd>
        <div class="redSideButton">
          <a href="#">
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Alert Preferences</p>
          </a>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>
<% end %>


<div class="grayDividerBar" id="planInformation">
  <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
  <p class="grayBarText">Plan Information</p>
</div>
<br>

  <form class="form-horizontal">
    
    <!-- ______________________BASIC INFORMATION____________________ -->
    
    
    <div class="sectionBox">
      
      <p class="tlb">Basic Information</p>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Plan Sponsor Name:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Plan Name:</label>
        <div class="controls">
          <input type="password" id="inputPassword" placeholder="">
        </div>
      </div>
      
    </div><!-- /.sectionBox -->
    <br>
    
    
    <!-- __________________ADMINISTRATOR INFORMATION_________________ -->
    <div class="sectionBox">
      
      <p class="tlb">Administrator Information</p>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Name:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Address:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Phone:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
    </div><!-- /.sectionBox -->
    <br>
    
    <!-- _______________________REPLACEMENT ADMINISTRATOR INFORMATION_______________________ -->
    
    <div class="sectionBox">
      
      <p class="tlb">Replacement Administrator Information</p>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Name:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Address:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Phone:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
    </form>
  
  </div><!-- /.sectionBox -->
  <br>
    
    <!-- _____________________BUTTONS______________ -->
  <br>
  <form class="form-inline">
    <label class="checkbox">
      <input type="checkbox"> Link Twitter Account
    </label>
    <input type="text" class="input-small" placeholder="Enter account id">
    <button type="submit" class="btn pull-right">Update</button>
  </form>