<% title("Live Published Content", true) %>

<% content_for :side_menu do %>
<% end %>

<div class="wrapper">
  
  
  <!-- _____________ WHAT CONTENT PRODUCTS ARE BEING WORKED ON? ___________ -->
  
  <a class="btn btn-success pull-left">
    View live portal
  </a>
  <a class="btn pull-right">
    Add new content
    <img src="<%= asset_path 'beta/plus.png' %>">
  </a>
  <span class="clearfix"></span>
  
  <div class="grayDividerBar marginTop">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">What content products are being worked on?</p>
  </div><!-- /.grayDividerBar -->
  <br>
  
  <!-- ____________________ BUTTONS & BANNER _________________ -->
  
  
  
    <div class="contentSection">
      <div class="contentSectionButton">
        <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
        <p class="contentSectionText">About Plan</p>
      </div><!-- /.contentSectionButton -->
    </div><!-- /.contentSection -->
    
    
    
    <div class="contentSection margin2">
      <div class="contentSectionButton">
        <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
        <p class="contentSectionText">Manage Account</p>
      </div><!-- /.contentSectionButton -->
    </div><!-- /.contentSection -->
    
    
    
    <div class="contentSection margin2">
      <div class="contentSectionButton">
        <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
        <p class="contentSectionText">Helpful Resources</p>
      </div><!-- /.contentSectionButton -->
    </div><!-- /.contentSection -->
      
    
    
    <div class="contentSection margin2">
      <div class="contentSectionButton">
        <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
        <p class="contentSectionText">Blog</p>
      </div><!-- /.contentSectionButton -->
    </div><!-- /.contentSection -->
    
    
    
    <div class="contentSection margin2">
      <div class="contentSectionButton">
        <img class="contentSectionImg" src="<%= asset_path 'buttonBarImgs/grey-button.png' %>">
        <p class="contentSectionText">Special Offers</p>
      </div><!-- /.contentSectionButton -->
    </div><!-- /.contentSection -->
  
  
  
  <div class="editBanner">
    <div class="editableBanner">
    </div><!-- /.editableBanner -->
    <a href="#"><img class ="remove" src="<%= asset_path 'demo/icon-cross.png' %>"></a>
    <a href="#"><img class="add" src="<%= asset_path 'beta/plus.png' %>"></a>
  </div><!-- /.editBanner -->
  
  
  
  
  <!-- ___________________ FEATURED CONTENT ________________ -->
  
  <div class="grayDividerBar marginTop">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">Featured content</p>
  </div><!-- /.grayDividerBar -->
  <br>
    
    
    
  <div class="rowOfTiles">
    
    <% BcmsMy401k::Article.all.each do |article| %>
    <a class="oneTile" title="" data-content="Checking to see if this popover works." data-placement="right" data-toggle="popover" href="#" data-original-title="Options">
      <div class="theTile">
        <p><%= article.name %></p>
        <p><%= article.sub_title %></p>
        <p><%= article.summary %></p>
      </div>
    </a><!-- /.oneTile -->
    <% end %>
    
  </div><!-- /.rowOfTiles -->
  
  <!-- ________________ OTHER CONTENT ____________ -->
  
  <span class="clearfix"></span>
  
  <div class="grayDividerBar marginTop">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">Other content</p>
  </div><!-- /.grayDividerBar -->
  <br>
    
    
    
  <div class="rowOfTiles">
    
    
    <% BcmsMy401k::Article.all.each do |article| %>
    <a class="oneTile" title="" data-content="Checking to see if this popover works." data-placement="right" data-toggle="popover" href="#" data-original-title="Options">
      <div class="theTile">
        <p><%= article.name %></p>
        <p><%= article.sub_title %></p>
        <p><%= article.summary %></p>
      </div>
    </a><!-- /.oneTile -->
    <% end %>
    
    
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Icon</p>
        <p>Checked?</p>
        <p>Read More</p>
        <p>Actions</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    
  </div><!-- /.rowOfTiles -->

</div><!-- /.wrapper -->

