
<html><head>
  <%= stylesheet_link_tag "application" %> 
</head>

<body> 
  <div class="container my401k-guest">
        <!-- ##### HEADER ############################### -->

        <div id="header">
          <div class="top-bar"></div>
          <div class="log-out-profile-button">
            <ul class="menu">
              <% if logged_in? %>
                <li class="first"><%= link_to "Log-out", cms.logout_path %></li>
                <li><%= link_to "Profile", cms.edit_user_path(current_user) %></li>
              <% else %>
                <li class="first"><%= link_to "Log-in", cms.login_path %></li>
              <% end %>
            </ul>
            <div class="who-am-i">Welcome, <span class="user-id"><%= (logged_in?) ? current_user.email : "Guest" %></span></div>
          </div>
        </div>
  </div>


  <div class="container my401k-guest">
    <div class="well" style="position: relative">
      <div class="row">
        <div class="span7">
          <h2>Logo and Slogan here</h2>
        </div><!-- /.span7 -->
        <div class="span3">
          <h3>Sponsor Logo here</h3>
        </div><!-- /.span3 -->
      </div><!-- /.row -->

      <div class="span2 tall">
        <div class="centered">
          <img src="<%= asset_path 'guest/profilepic.png' %>">
        </div>
        <div class="centered">
          <h3>Your Advertising banner would go here.</h3>
        </div>
      </div>

<!-- ___________________________________________________Nav Menu__________________________________ -->
      
    </div><!-- /.well -->
    <div class="well">
      <div class="row">
        <div class="navbar">
        <div class="navbar-inner">
          
          <%= yield :top_nav_menu %>
          
        </div><!--/.navbar-inner -->
        </div><!-- /.navbar -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    
    <!-- ____________________________________________Bottom boxes ___________________________________ -->
    
    <!--<div class="well">-->
      <div class="row row-main">
        
  <!-- ____________________________________________Left box ___________________________________ -->
    
        <div class="span6 bordered">
          <div class="marginLeft">
            
            <%= yield %>
            
          </div><!-- /.marginLeft -->
        </div><!-- /.span6 -->
        
    <!-- ____________________________________________Right box ___________________________________ -->
    
        <div class="span4 bordered">
          <div class="centered">
            <img src="<%= asset_path 'guest/image.png' %>">
          </div><!-- /.centered -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    <!-- /.span2 -->
    <!--</div> /.well -->

        <!-- ##### FOOTER ############################### -->

        <div id="footer">
          <div class="social-media">
            <div class="icon-social-media first icon-social-media-twitter"></div>
            <div class="icon-social-media icon-social-media-rss-feed"></div>
            <div class="icon-social-media icon-social-media-facebook"></div>
          </div>
          <ul class="menu">
            <li class="first"><a href="javascript: void(0);">Feedback &amp; Questions</a></li>
            <li><a href="javascript: void(0);">Contacts</a></li>
            <li><a href="javascript: void(0);">Terms of Service</a></li>
            <li><a href="javascript: void(0);">Privacy Policy</a></li>
            <li><a href="javascript: void(0);">Refer</a></li>
          </ul>
          <div class="powered-by">Powered by My 401k Made Easy</div>
          <div class="bottom-bar"></div>
        </div><!-- #footer -->

  </div><!-- /.container -->
  

</body></html>


