              <ul class="inline-block">
                <%# dcv; removed .easy-browse from list items %>
                <li class="button button-about-plan first"><%= link_to "About Plan", plan_participant_about_plan_path %> </li>
                <li class="button button-manage-account"><%= link_to "Manage Account", plan_participant_manage_account_path %></li>
                <li class="button button-helpful-resources"><%= link_to "Helpful Resources", plan_participant_helpful_resources_path %></li>
                <li class="button button-enroll"><%= link_to "Blog", plan_participant_blog_path %></li>
                <li class="button button-special-offers"><%= link_to "Special Offers", plan_participant_special_offers_path %></li>
              </ul>

