<div class="fields text_fields">
    <%= f.label :name %>
    <%= f.text_field :name, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :domain %>
    <%= f.text_field :domain, :autocomplete => "off" %>
</div>
<div class="fields text_fields" style="display: none; ">
    <%#= f.label :the_default, "Default site?" %>
    <%#= f.text_field :the_default, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :path %>
    <%= f.text_field :path, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :identifier %>
    <%= f.text_field :identifier, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :locale %>
    <%= f.text_field :locale, :autocomplete => "off" %>
</div>
