<% @page_title = @toolbar_title = "New Site" %>

<%= content_for :toolbar_links do %>
  <%= link_to(span_tag("List All"), sites_path,
    :id => "list_all_button", 
    :class => "button") %>
<% end %>

<%= content_for :functions do %>
  <%#= render(:partial => "toolbar") %>
  <%= link_to(span_tag("List All"), sites_path, :class => "button") %>
<% end %>

<%= render :partial => 'form' %>




<div style="display: none; ">
<h1>New cms_site</h1>

<%# render 'form' %>

<%# link_to 'Back', cms_sites_path %>
</div>

