
<p><b>Plan:</b> <%= @content_block.plan_id %></p>
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Address:</b> <%= @content_block.address %></p>
<p><b>Email:</b> <%= @content_block.email %></p>
<p><b>Phone:</b> <%= @content_block.phone %></p>
