              <ul class="inline-block">
                <%# dcv; removed .easy-browse from list items %>
                <li class="button button-about-plan first"><%= link_to "What is it?", guest_what_is_it_path %> </li>
                <li class="button button-manage-account"><%= link_to "How we make it easy", guest_how_does_it_work_path %></li>
                <li class="button button-helpful-resources"><%= link_to "Why do it?", guest_why_do_it_path %></li>
                <li class="button button-enroll"><%= link_to "Pricing & support", guest_pricing_and_support_path %></li>
                <li class="button button-special-offers"><%= link_to "Join now", guest_join_now_path %></li>
              </ul>

