<!DOCTYPE html>
<html>
  <head>
    <title>My 401k Made Easy | <%= content_for?(:title) ? yield(:title) : "" %></title>
    <style>
      /* @import url(http://fonts.googleapis.com/css?family=News+Cycle); */
    </style>
    <%= stylesheet_link_tag "application" %>
    <%#
      <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Zeyada' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Marvel:700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
      
      <link href='http://fonts.googleapis.com/css?family=Abel|PT+Sans+Narrow|News+Cycle|Antic|Metrophobic|Signika+Negative|Muli' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
      %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style>
      /* NOTE: set to 'display: none; ' if sign_up is disabled */
      a[href='/users/sign_up']{ display: inline; }
    </style>
  </head>
  <body>
    <!-- used when the need for sign in arises during an ajax call -->
    <a style="display: none; " id="sign-in" href="/users/sign_in">Sign in</a>
    <div id="frame">
      <div id="canvas">

        <!-- ##### HEADER ############################### -->

        <div id="header">
          <div class="top-bar"></div>
          <div class="log-out-profile-button">
            <ul class="menu">
              <% if logged_in? %>
                <li class="first"><%= link_to "Log-out", cms.logout_path %></li>
                <li><%= link_to "Profile", cms.edit_user_path(current_user) %></li>
              <% else %>
                <li class="first"><%= link_to "Log-in", cms.login_path %></li>
              <% end %>
            </ul>
            <div class="who-am-i">Welcome, <span class="user-id"><%= (logged_in?) ? current_user.email : "Guest" %></span></div>
          </div>
        </div>

        <!-- ##### BODY ############################### -->

        <div id="body" class="full-page">
          <div id="left">
            <div class="xeasy-browse" id="logo">
              <a style="display: none; " href="/plan_participant"></a>
              <div class="logo-graphic corporate first">
                {My 401K Made Easy Logo}
                <div class="ribbon-shadow"></div>
              </div>
              <div class="logo-graphic sponsor"></div>
            </div>
          </div>
          <div id="center-right">
            <div id="header-body">
              <div id="header-instructions">
                Click one of the buttons to get STARTED.
              </div>

              <div id="header-navigation">
                <% if content_for?(:top_nav_menu) %>
                <%= yield(:top_nav_menu) %>
                <% else %>
                <% end %>
              </div><!-- #header-navigation -->

            </div><!-- #header-body -->

            <div id="mid-section">
              <div id="banner"></div>
              <div class="content">
                <%#= yield %>
              </div><!-- #content -->

            </div><!-- #mid-section -->

          </div><!-- #center-right -->

          <div id="main-wide">
            <div class="body">
              <div class="banner"></div>
              <h2 style="display: none; "><%= yield(:title) if show_title? %></h2>
              <%= yield(:progress_bar) if content_for?(:progress_bar) %>
              <div class="" id="content">
                <%#= yield %>
              </div><!-- #content -->

            </div><!-- #mid-section -->
            
            <!--<div class="page-with-shadows-wide"></div>-->
          </div><!-- #main-wide -->

        </div><!-- #body -->

        <!-- ##### FOOTER ############################### -->

        <div id="footer">
          <div class="social-media">
            <div class="icon-social-media first icon-social-media-twitter"></div>
            <div class="icon-social-media icon-social-media-rss-feed"></div>
            <div class="icon-social-media icon-social-media-facebook"></div>
          </div>
          <ul class="menu">
            <li class="first"><a href="javascript: void(0);">Feedback &amp; Questions</a></li>
            <li><a href="javascript: void(0);">Contacts</a></li>
            <li><a href="javascript: void(0);">Terms of Service</a></li>
            <li><a href="javascript: void(0);">Privacy Policy</a></li>
            <li><a href="javascript: void(0);">Refer</a></li>
          </ul>
          <div class="powered-by">Powered by My 401k Made Easy</div>
          <div class="bottom-bar"></div>
        </div><!-- #footer -->

      </div>
    </div>
  </body>
</html>


<script type="text/javascript">
function register_buttons(){
  $("a:contains('Previous')").click(function(){
    $('#rootwizard').bootstrapWizard('previous');
  });
  $("a:contains('Next')").click(function(){
    $('#rootwizard').bootstrapWizard('next');
  });
}

  $(document).ready(function() {
    $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
      var $total = navigation.find('li').length;
      var $current = index+1;
      var $percent = ($current/$total) * 100;
      $('#rootwizard').find('.bar').css({width:$percent+'%'});

    	// If it's the last tab then hide the last button and show the finish instead
      if($current >= $total) {
        $('#rootwizard').find('.pager .next').addClass("disabled");
        $('#rootwizard').find('.pager .finish').removeClass("disabled");
        $('#rootwizard').find('.pager .last').addClass("disabled");
      } else {
        $('#rootwizard').find('.pager .next').removeClass("disabled");
        $('#rootwizard').find('.pager .last').removeClass("disabled");
        $('#rootwizard').find('.pager .finish').addClass("disabled");
      }

      if($('#rootwizard .pager .previous').hasClass("disabled")){
        $('#rootwizard .pager .first').addClass("disabled");
      } else {
        $('#rootwizard .pager .first').removeClass("disabled");
      }


      //console.log($(tab).html());
      var href = $("a", tab).attr("href");
      //console.log(href);
      if(!href.match(/^#/)){
        $.get(href, function(data){
          var lz_id = href.match(/(#[^#]+)$/)[1];
          $(lz_id).html(data);
        });
      }

      // register the buttons in the wizard; usually this is to navigate to previous and next
      setTimeout(function(){
        register_buttons();
      }, 100);
    }});
  });
</script>
